Source: python3-clorm
Section: devel
Priority: optional
Maintainer: Roland Kaminski <kaminski@cs.uni-potsdam.de>
Build-Depends: debhelper-compat (= 12), dh-python, python3-all, python3-setuptools, python3-clingo
Standards-Version: 4.4.1
Homepage: https://potassco.org/
Vcs-Browser: https://github.com/potassco/clorm
Vcs-Git: https://github.com/potassco/clorm.git

Package: python3-clorm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: ORM interface for the Clingo ASP Solver.
